:root {
  --shadow-color: rgba(204, 230, 255, 0.5);
  --input-bg: rgba(255, 255, 255, 0.3);
  --color: rgba(23, 23, 23, 0.8);
  --focus-shadow-color: rgba(173, 214, 252, 0.8);
  --input-border-color: rgba(199, 227, 253, 0.8);
  --input-color: #fff;

  --box-color: #161616;
  --box-bg: rgba(255, 255, 255, 0.7);
  --box-border-color: rgba(199, 227, 253, 0.8);
  --box-check-color: #16bffd;
  --focus-color: #16bffd;

  &.light,
  .light {
    --input-border-color: rgba(255, 255, 255, 0.8);
    --focus-shadow-color: rgba(213, 242, 255, 0.8);
    --shadow-color: rgba(255, 255, 255, 0.3);
  }
}

fieldset {
  width: 100%;
  display: flex;
  gap: pxToRem(10);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: pxToRem(10);
  border: {
    width: pxToRem(1);
    style: solid;
    color: rgba(255, 255, 255, 0.6);
    radius: pxToRem(8);
  }
  box-shadow: 0 0 pxToRem(20) rgba(255, 255, 255, 0.3);

  > * {
    width: 25%;
    &:not(:last-child):not(legend) {
      margin-right: pxToRem(20);
    }
  }

  legend {
    font-size: pxToRem(16);
    color: rgba(255, 255, 255, 0.9);
  }
}

ul {
  display: flex;
  li {
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: pxToRem(10);
    }
  }
}
