* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Inria, sans-serif;
  color: $color-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bebas, sans-serif;
  text-wrap: balance;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-quivi-light-red;
}

fieldset {
  border: none;
}

p {
  margin: 0;
  text-wrap: pretty;
}

.highlight {
  color: $color-quivi-light-red;
}

.text-quivi-light-red {
  color: $color-quivi-light-red;
}
.font-bold {
  font-weight: bold;
}
.hidden {
  display: none !important;
}
