$color-hover-background: #cdf0ea;
$color-active-background: #faf4b7;
$color-active-color: #f6c6ea;
$color-text-color: #332f2e;
$color-white: #f9f9f9;
$color-near-white: #e7e7e7;
$color-black: #332f2e;
$color-dark-gray: #636b6f;
$color-system-error: #bf5329;
$color-system-success: #2ab27b;
$color-system-warning: #cbb956;
$color-quivi-gray: #727176;
$color-quivi-light-gray: #9a999e;
$color-quivi-dark-gray: #5b5b5f;
$color-quivi-darkest-gray: #444242;
$color-quivi-red: #c54643;
$color-quivi-light-red: #f22435;
$color-quivi-light-blue: #d8dde6;
$color-quivi-dark-red: #921f1d;
$color-quivi-darkest-red: #38060e;
$color-quivi-green: #1c8741;
$color-quivi-yellow: #ffec5c;
$color-quivi-dark-yellow: #e0c207;
$breakpoint-sm: 48em;
$breakpoint-md: 64em;
$breakpoint-lg: 80em;
$breakpoint-xl: 90em;
$font-family-calibri: "calibri";
$font-family-din: "din";
$font-family-din-condensed: "din-condensed";
$font-family-sans-serif: "calibri";
$font-family-serif: "serif";
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-48: 3rem;
$font-size-60: 3.75rem;
$font-size-70: 4.375rem;
$font-size-80: 5rem;
$font-size-90: 5.625rem;
$font-size-100: 6.25rem;
$font-size-110: 6.875rem;
$font-size-120: 7.5rem;
$font-size-130: 8.125rem;
$font-size-140: 8.75rem;
$size-0: 0rem;
$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-4: 0.25rem;
$size-6: 0.375rem;
$size-8: 0.5rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-30: 1.875rem;
$size-40: 2.5rem;
$size-50: 3.125rem;
$size-60: 3.75rem;
$size-70: 4.375rem;
$size-80: 5rem;
$size-90: 5.625rem;
$size-100: 6.25rem;
$size-120: 7.5rem;
$size-140: 8.75rem;
$size-160: 10rem;
$size-180: 11.25rem;
$size-200: 12.5rem;
$size-230: 14.375rem;
$size-250: 15.625rem;
$size-300: 18.75rem;
$size-320: 20rem;
$size-350: 21.875rem;
$size-400: 25rem;
$size-450: 28.125rem;
$size-500: 31.25rem;
$size-550: 34.375rem;
$size-600: 37.5rem;
$size-700: 43.75rem;
$size-800: 50rem;
$size-900: 56.25rem;
$size-1000: 62.5rem;
