<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Mail</title>
  </head>
  <body>
    <p>
      {{name}}
      se puso en contacto.
      <br />
      E-mail:
      {{email}}
    </p>
    <p>
      <strong>Mensaje:</strong>
      {{message}}
    </p>

  </body>
</html>