@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts";
@import "./theme";

body {
  font-family: Inria, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bebas, sans-serif;
  text-wrap: balance;
}

p{
  margin: 0;
}
